* {
  box-sizing: border-box;
}

body {
  background-image: url("https://i.pinimg.com/originals/e6/8c/22/e68c2253c9a41fb1287810a1d1ed14cc.jpg");  
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
}

.title {
  margin: 0;
}

.subtitle {
  display: inline-block;
  margin: 5px 0 20px;
  opacity: 0.8;
}

.header input:focus {
  outline: none;
}
